@import "@/styles/variables.less";

.product-list-filter-wrapper {
  width: 350px;

  .ant-form-item {
    &-label label {
      color: @taupe-gray;
    }
  }

  .search-input {
    border: 1px solid @taupe-gray;
    background-color: transparent;
    color: @taupe-gray;
    border-radius: 4px;

    input {
      &::placeholder {
        color: @taupe-gray;
      }
    }
  }

  .price-filter {
    .ant-slider-mark-text {
      white-space: nowrap;
      color: @light-silver;

      &:first-child {
        transform: translateX(-5px) !important;
      }

      &:last-child {
        transform: translateX(-100%) !important;
      }
    }

    .ant-form-item {
      &-label label {
        color: @white;
      }
    }
  }

  .ant-select {
    & .ant-select-selector {
      background-color: transparent;
      border-color: @dark-gray;
    }

    &-selection {
      &-item {
        color: @white !important;
      }
    }

    &-arrow {
      color: @white;
    }
  }

  .filter-actions {
    display: flex;

    .search-button {
      margin-left: auto;

      button {
        width: 160px;
      }
    }

    .reset-filter {
      button {
        svg {
          color: @ripe-mango;
        }
      }
    }
  }
}
