* {
  font-family: sans-serif;
}

.ant-btn {
  color: @white;

  &:hover {
    color: @white !important;
  }

  &-primary {
    background-image: @active-background-gradient;
    background-color: transparent;

    &:not(:disabled):not(.ant-btn-disabled) {
      &:hover,
      &:active {
        background-image: @active-background-gradient;
      }
    }
  }
}

.ant-tooltip {
  & &-arrow::before {
    background-image: @active-background-gradient;
  }

  &-inner {
    background-image: @active-background-gradient;
  }
}

.ant-divider {
  background-color: @dark-gray;
}
