* {
  font-family: Inter, sans-serif;
}

.ant-btn {
  color: @white;
  font-size: 16px;
  font-weight: 600;
  height: 44px;

  &:hover {
    color: @white !important;
  }

  &-primary {
    background-image: @active-background-gradient;
    background-color: transparent;

    &:not(:disabled):not(.ant-btn-disabled) {
      &:hover,
      &:active {
        background-image: @active-background-gradient;
      }
    }
  }
}

.ant-tooltip {
  & &-arrow::before {
    background-image: @active-background-gradient;
  }

  &-inner {
    background-image: @active-background-gradient;
  }
}

.ant-divider {
  background-color: @dark-gray;
}

.ant-empty {
  & &-description {
    color: @white;
  }
}

.ant-slider {
  & &-track {
    background-image: @active-background-gradient;
    height: 8px;
  }
}
