@import "@/styles/variables.less";

.product-list-layout {
  .ant-layout-header {
    background-image: url("/public/assets/images/background-header.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000b2;
    background-blend-mode: multiply;
    padding: 0;
    height: 700px;

    .nav-menu-wrapper {
      display: flex;
      justify-content: space-between;
      background-color: #17161ab2;
    }
  }

  .product-filters-sider {
    background-color: transparent;

    @media (max-width: 1450px) {
      display: none;
    }
  }

  .product-list-content {
    display: flex;
    justify-content: center;
    padding: 160px 0 500px 0;
    position: relative;

    background-image: url("/public/assets/images/background-body.png");
    background-size: cover;
    background-position: center;

    &::after {
      content: " ";
      background-image: url("/public/assets/images/footer.png");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 450px;
      position: absolute;
      bottom: 0;
    }
  }

  .main-layout {
    background: transparent;
    max-width: 1600px;
    gap: 40px;
    padding: 0 100px;

    &.ant-layout {
      &-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 1000px;
        display: flex;
        justify-content: center;
      }
    }

    @media (max-width: 1450px) {
      padding: 0 50px;
    }

    @media (max-width: 960px) {
      padding: 0 20px;
    }
  }
}
